<div class="modal fade" id="add" tabindex="-1" role="dialog"
     aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title custom_align" id="Heading1" align="center">Insert New Student Details</h4>
            </div>
            <div class="modal-body">
                <div add-student-form></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg"
                        ng-disabled="insertNewStudentForm.birthday.$invalid ||
                            insertNewStudentForm.firstName.$invalid ||
                            insertNewStudentForm.lastName.$invalid ||
                            insertNewStudentForm.city.$invalid ||
                            insertNewStudentForm.street.$invalid ||
                            insertNewStudentForm.houseNum.$invalid"
                        style="width: 25%;" ng-click="vm.insertNewStudent()">
                    Insert&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-floppy-saved"
                                                     style="font-size: 1.5em"></i>
                </button>
            </div>
        </div>
    </div>
</div>