<table data-toggle="table" data-url="../StudentDBWebService/student/getAllStudents" id="table"
       data-sort-name="id" data-sort-order="asc"
       data-show-columns="true" data-show-refresh="true"
       data-show-toggle="true" data-search="true"
       data-show-export="true" data-pagination="true"
       data-show-multi-sort="true" data-show-pagination-switch="true"
       data-filter-control="true"
       data-toolbar="#studentToolbar">
    <thead>
    <tr>
        <th data-field="id" data-halign="center" data-align="center" data-sortable="true"
            data-filter-control="input" data-formatter="getStudentCourses" data-events="operateEvents">Student ID
        </th>
        <th data-field="firstName" data-halign="center" data-align="center"
            data-sortable="true" data-editable="true" data-filter-control="input">First Name
        </th>
        <th data-field="lastName" data-halign="center" data-align="center"
            data-sortable="true" data-editable="true" data-filter-control="input">Last Name
        </th>
        <th data-field="birthday" data-halign="center" data-align="center"
            data-sortable="true" data-editable="true" data-filter-control="input">Birthday
        </th>
        <th data-field="city" data-halign="center" data-align="center" data-sortable="true"
            data-editable="true" data-filter-control="input">City
        </th>
        <th data-field="street" data-halign="center" data-align="center"
            data-sortable="true" data-editable="true" data-filter-control="input">Street
        </th>
        <th data-field="houseNum" data-halign="center" data-align="center"
            data-sortable="true" data-editable="true" data-filter-control="input">House Number
        </th>
        <th data-field="operate" data-align="center"
            data-formatter="studentTableOperateFormatter" data-events="operateEvents">Operations</th>
    </tr>
    </thead>
</table>
<script>
    var table = $('#table');
    table.bootstrapTable({
        pageSize: 10,
        contextMenu: '#example1-context-menu',
        onContextMenuItem: function (row, $el) {
            if ($el.data("item") == "edit") {
                alert("Edit: " + row.id + ' ' + row.firstName + ' ' + row.lastName);
            } else if ($el.data("item") == "delete") {
                alert("Delete: " + row.id + ' ' + row.firstName + ' ' + row.lastName);
            } else if ($el.data("item") == "action1") {
                alert("Action1: " + row.id + ' ' + row.firstName + ' ' + row.lastName);
            } else if ($el.data("item") == "action2") {
                alert("Action2: " + row.id + ' ' + row.firstName + ' ' + row.lastName);
            }
        }
    });
</script>