<form class="form-inline" name="insertNewStudentForm">
    <div class="row">
        <div class="col-md-4">Student ID:</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': insertNewStudentForm.studentId.$touched
                                && insertNewStudentForm.studentId.$invalid }">
                <input class="form-control" name="studentId" type="number" placeholder=""
                       ng-model="vm.studentId" required>
                <div ng-messages="insertNewStudentForm.studentId.$error"
                     ng-show="insertNewStudentForm.studentId.$touched">
                    <div ng-messages-include="includes/views/input-errors-messages/messages.html"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">First Name:</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': insertNewStudentForm.firstName.$touched
                                && insertNewStudentForm.firstName.$invalid }">
                <input class="form-control" name="firstName" type="text" placeholder=""
                       ng-model="vm.firstName" required>
                <div ng-messages="insertNewStudentForm.firstName.$error"
                     ng-show="insertNewStudentForm.firstName.$touched">
                    <div ng-messages-include="includes/views/input-errors-messages/messages.html"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">Last Name:</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': insertNewStudentForm.lastName.$touched
                                && insertNewStudentForm.lastName.$invalid }">
                <input class="form-control" name="lastName" type="text" placeholder=""
                       ng-model="vm.lastName" required>
                <div ng-messages="insertNewStudentForm.lastName.$error"
                     ng-show="insertNewStudentForm.lastName.$touched">
                    <div ng-messages-include="includes/views/input-errors-messages/messages.html"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">City:</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': insertNewStudentForm.city.$touched
                                && insertNewStudentForm.city.$invalid }">
                <input class="form-control" name="city" type="text" placeholder=""
                       ng-model="vm.city" required>
                <div ng-messages="insertNewStudentForm.city.$error"
                     ng-show="insertNewStudentForm.city.$touched">
                    <div ng-messages-include="includes/views/input-errors-messages/messages.html"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">Street:</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': insertNewStudentForm.street.$touched
                                && insertNewStudentForm.street.$invalid }">
                <input class="form-control" name="street" type="text" placeholder=""
                       ng-model="vm.street" required>
                <div ng-messages="insertNewStudentForm.street.$error"
                     ng-show="insertNewStudentForm.street.$touched">
                    <div ng-messages-include="includes/views/input-errors-messages/messages.html"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">House Number:</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': insertNewStudentForm.houseNum.$touched
                                && insertNewStudentForm.houseNum.$invalid }">
                <input class="form-control" name="houseNum" type="number" placeholder=""
                       ng-model="vm.houseNum" required>
                <div ng-messages="insertNewStudentForm.houseNum.$error"
                     ng-show="insertNewStudentForm.houseNum.$touched">
                    <div ng-messages-include="includes/views/input-errors-messages/messages.html"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">Birthday:</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': insertNewStudentForm.birthday.$touched
                                && insertNewStudentForm.birthday.$invalid }">
                <input class="form-control" name="birthday" type="date" placeholder=""
                       ng-model="vm.birthday" required>
                <div ng-messages="insertNewStudentForm.birthday.$error"
                     ng-show="insertNewStudentForm.birthday.$touched">
                    <div ng-messages-include="includes/views/input-errors-messages/messages.html"></div>
                </div>
            </div>
        </div>
    </div>
</form>