<div class="modal fade" id="teacherCoursesModal" tabindex="-1"
     role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title custom_align" id="Heading2" align="center">
                    Courses Of The Chosen Lecturer:
                </h4>
            </div>
            <div class="modal-body">
                <div id="teacherCourseToolbar" class="btn-group">
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addTeacherCoursesModal">
                        <i class="glyphicon glyphicon-plus"></i>
                        Insert New Teacher Course
                    </button>
                </div>
                <table id="modelCourses" class="table table-striped"
                       data-toggle="table" data-cache="false"
                       data-show-refresh="true" data-search="true"
                       data-select-item-name="toolbar1"
                       data-pagination="true"
                       data-show-pagination-switch="true"
                       data-show-export="true"
                       data-show-multi-sort="true"
                       data-toolbar="#teacherCourseToolbar">
                    <thead>
                    <tr>
                        <th data-field="course.name" data-sortable="true"
                            data-halign="center" data-align="center" data-container="body">Name</th>
                        <th data-field="course.semester" data-sortable="true"
                            data-halign="center" data-align="center" data-container="body">Semester</th>
                        <th data-field="course.year" data-sortable="true"
                            data-halign="center" data-align="center" data-container="body">Year</th>
                        <th data-field="operate" data-align="center"
                            data-formatter="teacherCoursesTableOperateFormatter" data-events="operateEvents">Operations</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div add-teacher-course></div>
        </div>
    </div>
    <script>
        var table = $('#modelCourses');
        table.bootstrapTable({});
    </script>
</div>