<div class="modal fade" id="teacherCoursesModal" tabindex="-1"
     role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title custom_align" id="Heading2" align="center">
                    Courses Of The Chosen Lecturer:
                </h4>
            </div>
            <div class="modal-body">
                <table id="teacherCourses" class="table table-striped"
                       data-toggle="table" data-cache="false"
                       data-show-refresh="true" data-search="true"
                       data-select-item-name="toolbar1">
                    <thead>
                    <tr>
                        <th data-field="name" data-sortable="true"
                            data-halign="center" data-align="center" data-container="body">Name</th>
                        <th data-field="semester" data-sortable="true"
                            data-halign="center" data-align="center" data-container="body">Semester</th>
                        <th data-field="year" data-sortable="true"
                            data-halign="center" data-align="center" data-container="body">Year</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
    <script>
        var table = $('#teacherCourses');
        table.bootstrapTable({});
    </script>
</div>