<div id="teachersViewTable">
    <ul id="example1-context-menu" class="dropdown-menu">
        <li data-item="edit"><a>Edit</a></li>
        <li data-item="delete"><a>Delete</a></li>
        <li data-item="action1"><a>Action Here</a></li>
        <li data-item="action2"><a>And Action Here</a></li>
    </ul>
    <div id="teacherToolbar" class="btn-group">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#add">
            <i class="glyphicon glyphicon-plus"></i>
            Insert New Teacher
        </button>
        <label ng-if="vm.msg" ng-style="vm.msgStyle"><span style="margin-right: 20px"/>{{vm.msg}}<span style="margin-left: 20px"/></label>
    </div>
    <div teacher-table></div>
    <div add-teacher-modal></div>
    <div teacher-course-modal></div>
</div>